			</main>
		</div>
		<div class="footer-wrapper">
			<footer>
				Discover more Apps like this on the
				<a href="http://elements.heroku.com">Heroku Elements Marketplace</a>.
			</footer>
		</div>
	</div>
</body>
</html>